@use 'sass:math';

$base-width: 1920;
$base-tablet: 1200;
$base-mo-width: 750;

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }
  @return $number;
}

@function vw($px) {
  $val: strip-unit($px);
  $vw-val: math.div($val, $base-width) * 100vw;
  @return min(#{$val}px, #{$vw-val});
}

@function vwt($px) {
  @return math.div(strip-unit($px), $base-tablet) * 100vw;
}

@function vwm($px) {
  @return math.div(strip-unit($px), $base-mo-width) * 100vw;
}