.inc04{
    .inner{
        .text_area{
            h2{
                font-size: min(60px, 7.8vw);
                font-weight: 800;
                line-height: 1.25;
                letter-spacing: -1px;
                margin-bottom: min(60px, 7.8vw);
            }
            p{
                font-size: min(27px,3.5vw);
                color: #393939;
                line-height: 1.5;
                font-weight: 500;

                &.mb-25 {
                    margin-bottom: 25px;
                }
            }
        }

        .image_area{
            border-radius: 50%;
            box-shadow: 35px 35px 55px #ff9f97;
            margin: min(130px,15vw) auto min(260px,30vw);
            width: 90%;

            img{
                width: 100%
            }
        }
    }
}