.inc07 {
    height: 100dvh !important;
    position: relative;
    z-index: 0;
    background: #fff;
    overflow: hidden;

    &_bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        clip-path: circle(25% at 50% 50%);

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.6);
            opacity: var(--overlay-opacity, 0);
            z-index: 2;
        }


        iframe {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400%;
            object-fit: cover;
            min-width: 100%;
            min-height: 100%;
            z-index: 1;
            border: none;
        }
    }

    &_intro {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        pointer-events: none;

        p {
            position: absolute;
            opacity: 0;
            font-family: 'Suit', sans-serif;
        }

        .gradient {
            top: calc(50% - min(400px,72vw) );
            left: 50%;
            transform: translateX(-50%);
            font-size: min(72px,9.4vw);
            font-weight: 800;
            text-align: center;
            white-space: nowrap;

            span {
                background: linear-gradient(90deg, #9e1c19 0%, #000000 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        .gray {
            top: calc(50% - min(300px, 52vw));
            right: calc(50%);
            font-size: min(72px,9.4vw);
            font-weight: 700;
            color: #d1d1d6;
            text-align: right;
            white-space: nowrap;
        }

        .black {
            bottom: 0;
            right: min(20px,2.6vw);
            transform: translateY(-50%);
            font-size: min(60px,7.8vw);
            font-weight: 700;
            color: #1c1c1e;
            line-height: 1.35;
            text-align: right;
            white-space: nowrap;
        }
    }

    .inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 1400px;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
        pointer-events: none;

        p {
            font-size: min(36px,4.7vw);
            line-height: 1.6;
            margin-bottom: 35px;
            font-weight: 500;
            color: #e5e5ea;
            opacity: 0;
        }

        h2 {
            font-size: min(50px,6.5vw);
            line-height: 1.4;
            font-weight: 800;
            color: #fff;
            opacity: 0;
        }
    }
}