.main{
    background: #000;
    aspect-ratio: 760/1360;
    //max-height: 100dvh;
    position: relative;
    z-index: 0;
    padding-top: min(130px, 17vw);
    padding-bottom: min(35px,4.5vw);

    @media (max-width:480px) {
        height: 100dvh;
        aspect-ratio: auto;
    }

    &_bg{
        position: absolute;
        left: 0;
        top: min(130px, 17vw);
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .inner{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        p{
            font-size: min(30px,4vw);
            font-weight: 200;
            color: #fff;
            line-height: 1.5;
            
            b{
                font-weight: 800;
            }
        }
        h2{
            font-size: min(74px, 9.5vw);
            line-height: 1.35;
            margin-top: min(35px,4.5vw);
            color: #fff;
            font-weight: 800;
        }
    }
}

.gradient{
    display: inline-block;
    background: linear-gradient(93deg, #ff6a6a, #fb0f0f, #8b89fd, #ff6a6a, #fb0f0f, #8b89fd);
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    animation: colorChange 15s ease-in-out infinite;
}
 @keyframes colorChange {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}