@use '../helpers/' as *;

.footer {
    background-color: #848484;
    padding: 70px 0 150px;
    color: #ffffff;

    @include tablet{
        padding: vwt(70) 0 vwt(150);
    }

    .inner {
        max-width: 1200px;
        margin: 0 auto;
    }

    &-title {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 40px;

        @include tablet{
            gap:vwt(12);
            font-size: vwt(40);
            margin-bottom: vwt(40);
        }

        img {
            display: block;

            @include tablet{
                width: vwt(45);
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 36px;

        @include tablet{
            gap:vwt(36);
        }
    }

    &-group {
        h3 {
            font-size: 22px;
            font-weight: 700;
            margin-bottom: 10px;
            color: #ffffff;

            @include tablet{
                font-size: vwt(22);
                margin-bottom: vwt(10);
            }
            @include mobile{
                font-size: vwm(22);
                margin-bottom: vwm(10);
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                font-size: 22px;
                font-weight: 400;
                line-height: 1.55;
                color: #ffffff;

                @include tablet{
                    font-size: vwt(22);
                }
                @include mobile{
                    font-size: vwm(22);
                }

                &.indent {
                    padding-left: 16px;

                    @include tablet{
                        padding-left: vwt(16);
                    }
                    @include mobile{
                        padding-left: vwm(16);
                    }
                }

                .underline {
                    text-decoration: underline;
                    text-underline-offset: 3px;
                }
            }
        }
    }
}
