@use '../helpers/' as *;

.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;

    .pink_label{
        background: #FF8AAB;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 18px;
        gap: 24px;

        .yellow-label{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            background: #FFFE8D;
            border-radius: 50px;
            font-size: 28px;
            color: #FF8AAB;
            font-weight: 800;
            padding: 8px 16px;
            padding-left: 42px;
            margin-bottom: 8px;
            
            .siren{
                position: absolute;
                left: 0;
                top: 0;
                transform: translate(-30%, -29%);
            }
        }
    }

    &_inner{
        width: 95%;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;
        margin: 40px auto 0;
    }

    &_utils{
        display: flex;
        align-items: center;
        gap: 15px;

        .login{
            border: 2px solid #000;
            font-weight: 700;
            border-radius: 30px;
            padding: 8px 16px;
            transition: 0.3s ease;

            &:hover{
                background: #000;
                color: #fff;
            }
        }
    }
}
