@use '../helpers/' as *;

.main_visual{
    height: 980px;
    background: linear-gradient(to bottom, #AFEEDD 10%, #87CFED 100%);
    overflow: visible;

    .section-content{
        height: 100%;
        padding-top: 150px;
        position: relative;
        z-index: 0;
    }

    .inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &-title{
        position: relative;        
        z-index: 0;
 
        figure{
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;

            &.title_flower02{
                z-index: 2;
            }
        }
    }

    &-items{
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &-wrap{
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 0;

            >figure{
                position: absolute;
                z-index: 0;
            }

            .cloud_right{
                right: 0;
                bottom: 0;
            }
            .cloud_left{
                left: 0;
                bottom: 0;
            }

            .cloud_small{
                left: 0;
                top: 140px;
            }
            .cloud_xs{
                right: 78px;
                bottom: 308px;
            }
            .bubble_tower{
                left: 0;
                top: 300px;
            }
            .bubble_land{
                right: 190px;
                top: 180px;
            }
            .bubble_dove{
                right: 425px;
                bottom: 210px;
            }

            .bubble_1{
                left: 633px;
                top: 90px;
            }
            .bubble_2{
                left: 260px;
                top: 350px;
            }
            .bubble_3{
                left: 460px;
                top: 654px;
            }
            .bubble_4{
                right: 70px;
                top: 250px;
            }
            .bubble_5{
                right: 400px;
                top: 350px;
            }
            .bubble_6{
                right: 116px;
                top: 660px;
            }
        }
    }

    &-outline{
        width: 100%;
        max-width: 1200px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 10%);
        &-wrap{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .outline-visual{
            position: relative;
            z-index: 0;
        }

        .outline-speach{
            position: absolute;
            left: -12%;
            top: 15%;
            z-index: -1;
        }
        .outline-char{
            width: 570px;
            position: relative;
            z-index: 0;
            margin-left: 135px;
            &::before{
                content: '';
                display: block;
                width: 388px;
                aspect-ratio: 388/189;
                position: absolute;
                z-index: -1;
                left: 0;
                bottom: 50px;
                background: url(/resources/images/white_flower01.png);
            }
        }

        .outline-desc{
            width: 100%;
            position: absolute;
            z-index: 0;
            left: 50%;
            bottom: 0;
            transform: translate(-50%,55%);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            &-wrap{
                width: 100%;
                aspect-ratio: 1197/236;
                background: url('/resources/images/paper.png') no-repeat center center/contain;
                display: flex;
                padding-top: 25px;
            }

            &::before{
                content: '';
                display: block;
                position: absolute;
                right: 350px;
                top: -85px;
                z-index: 1;
                width: 148px;
                aspect-ratio: 168/146;
                background: url('/resources/images/white_flower02.png') no-repeat center center/contain;
            }

            dl{
                height: 100%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #333;
                gap: 16px;

                &:nth-child(1){
                    width: 30%;
                }
                &:nth-child(2){
                    width: 25%;
                    transform: translateY(-10px);
                }
                &:nth-child(3){
                    margin-left: 55px;
                    transform: translateY(-20px);
                }

                dt{
                    font-size: 32px;
                    font-weight: 800;
                }

                dd{
                    font-size: 22px;
                    line-height: 1.25;
                }
            }
        }
        
        .outline-noti{
            text-align: center;
            color: #333;
            font-size: 20px;
            position: relative;
            z-index: 0;
            &::before{
                content: '';
                display: block;
                width: 64px;
                aspect-ratio: 64/58;
                position: absolute;
                right: 50px;
                top: 0;
                transform: translateY(-120%);
                background: url('/resources/images/arrow.png') no-repeat center center/contain;
            }
        }
    }
}